@media screen and (max-width:1168px){
    .texto__aboutMe{
        font-size: 100%;
        text-align: justify;
    }

    .subtitulo__aboutMe{
        font-size: 100%;
        padding-top: 40px;
        margin: 3px;

    }

    .numbers{
        flex-direction: column;
        align-content: center;
    }

    .number{
        font-size: 100%;
        text-align: center;
    }

    .subtitulo__footer{
        font-size: 100%;
    }

    [class^="fab fa"]{
        color: white;
        font-size: 100%;
    }

    #derechos{
        font-size: 50%;
    }

}