<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../CSS/icons/icono2.jpg" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- SEO -->
    <meta name="keywords" content="yo, historia, coder, programador, cambio, carrera">
    <meta name="description" content="acerca de mi y mi historia de cambio de carrera">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <!-- CSS propio -->
    <link rel="stylesheet" href="../CSS/style.css">
    <title>J05B3t | Me</title>
</head>

<body>
    <header class="header">
        </a>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"><img src="../CSS/icons/logo.jpg" alt="logoMe"
                        class="logoHeader"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../layout/ruta2.html">Ruta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./me2.html#contact">Conectemos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container principal__div">
            <div class="row textos-hero">
                <p class="col-lg-5 parraPrincipal"> <span class="weigth-400">"Me" Yo?, quien soy?</span>. <br> Mi nombre
                    es JosBet, soy un joven en sus 30 y algo.. quien ha recorrido algunas partes del mundo, y que cree
                    que nada está escrito, que por mucho que haya leido que se pueden aprender 05 carreras u oficios,
                    ninguna llegará a tocarte para decirte "oye.. despierta ya eres un Programador...". Y eso fue lo que
                    precisamente he sabido, algunos nacen estrellas y otros tenemos que trabajar para poder brillar con
                    nuestra luz propia.. El donde queremos estar, depende única y exlusivamente de nosotros... Tal como
                    la imagen de la foto frente al espejo, mirate quien quieres ser o cuando quieres ser... Abajo
                    algunas fotos de mi... Soy como cualquier otro, afortunado por estar completo y sin
                    ningun problema que me impida poder avanzar... solo las ganas, y como dice mi pareja, "No más
                    procastinar las cosas! Vamossss!"
                </p>
                <img src="../CSS/img/Carrusel/undraw_career_progress_ivdb.svg" alt="Cambiando" class="col-lg-7 img">
            </div>
        </div>


        <section>
            <div class="container-fluid">
                <div class="row">
                    <h2 class="col-lg-12 text-center AlgoMas">Algo más de Me</h2>
                </div>
                <div class="row div__carousel">
                    <div id="carouselExampleSlidesOnly" class="carousel slide w-50 mx-auto" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../CSS/img/Carrusel/undraw_hacker_mind_-6-y85.svg"
                                    class="d-block w-100 img__carousel" alt="pensamiento">
                            </div>
                            <div class="carousel-item">
                                <img src="../CSS/img/Carrusel/undraw_hacker_mind_-6-y85.svg"
                                    class="d-block w-100 img__carousel" alt="desarrollador">
                            </div>
                            <div class="carousel-item">
                                <img src="../CSS/img/Carrusel/undraw_hacker_mind_-6-y85.svg"
                                    class="d-block w-100 img__carousel" alt="laFuente">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer id="contact">
        <div class="grid">
            <div class="textos-footer">
                <h1 class="subtitulo__footer">¡Conectemos!</h1>
            </div>
            <div class="footer-img1">
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="footer-img2">
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="footer-img3">
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
        <p class="derechos">© 2021 JosB3t Corp. Todos los derechos reservados</p>
    </footer>

    <script src="https://kit.fontawesome.com/58c819eb23.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>