<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../CSS/icons/icono2.jpg" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- SEO -->
    <meta name="keywords" content="ruta, comienzo, expertos, giro, coder, programador, empezando>
    <meta name=" description" content="cual fue la ruta para poder empezar en este nuevo mundo coder">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <!-- CSS propio -->
    <link rel="stylesheet" href="../CSS/style.css">
    <title>J05B3t | Ruta del Cambio </title>
</head>

<body>
    <header class="header">
        </a>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"><img src="../CSS/icons/logo.jpg" alt="logoMe"
                        class="logoHeader"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./me2.html">Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./ruta2.html#contact">Conectemos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container principal__div">
            <div class="row textos-hero">
                <p class="col-lg-5 parraPrincipal"> <span class="weigth-400">Las ganas de dar un gran giro... fue el
                        inicio de un nuevo comienzo</span>. <br> A ver.. por donde empezamos?? Creo que lo primero fue
                    pensar en que un dia estaba tan cansado, pero tan cansado que solo pensaba e idializadaba como
                    podria hacerlo para estar tranquilo, para trabajar en lo que siempre he sabido muy dentro de mi que
                    me gusta y que pueda ganar dinero haciéndolo. Que raro se siente escribir estas palabras, pero la
                    verdad, es que así fue.. En definitiva, te cuento que tuve tres grandes fases: primero tuve que
                    aceptar el cambio, segundo definir el plan y tercero engranar todo. Te cuento más abajo de todas
                    estas fases...
                </p>
                <img src="../CSS/img/undraw_freelancer_re_irh4.svg" alt="Cambiando" class="col-lg-7 img">
            </div>
        </div>

        <section class="services" id="route">
            <div class="container-fluid">
                <div class="row">
                    <h2 class="col-lg-12 text-center rutaC">¡Ruta del Cambio!</h2>
                </div>
            </div>

            <section class="container">
                <div class="row items">
                    <div class="col-lg-3 item text-center">
                        <img src="../CSS/img/undraw_ideas_s-70-l.svg" alt="reconocer" class="col-lg-8 imagenSeccion">
                        <h3 class="titulo-services">Aceptar el Cambio</h3>
                        <p class="texto__item">Madurar la idea, y entender que es lo que quieres fue el inicio de todo
                        </p>
                    </div>
                    <div class="col-lg-3 item text-center">
                        <img src="../CSS/img/undraw_sorting_thoughts_re_fgli.svg" alt="reconocer"
                            class="col-lg-8 imagenSeccion">
                        <h3 class="titulo-services">Definiciones</h3>
                        <p class="texto__item">Ya sabía que en definitiva quería hacerlo, ahora como lo hacía... listé y
                            busqué por donde empezar.</p>
                    </div>
                    <div class="col-lg-3 item text-center">
                        <img src="../CSS/img/undraw_thought_process_re_om58.svg" alt="reconocer"
                            class="col-lg-8 imagenSeccion">
                        <h3 class="titulo-services">Engranando el Plan</h3>
                        <p class="texto__item">Ya sabiendo que era lo que tenía que hacer, fue más fácil completar la
                            ruta y empezar con este rompecabeza...</p>
                    </div>
                </div>
            </section>
        </section>

        <section>
            <div class="container-fluid">
                <div class="row">
                    <h2 class="col-lg-12 text-center rutaC">Ruta por Expertos para 2022</h2>
                    <iframe width="80%" height="400" src="https://www.youtube.com/embed/lCGoeEF8T_I"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen class="video__ruta"></iframe>
                </div>


            </div>
        </section>

    </main>

    <footer id="contact">
        <div class="grid">
            <div class="textos-footer">
                <h1 class="subtitulo__footer">¡Conectemos!</h1>
            </div>
            <div class="footer-img1">
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="footer-img2">
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="footer-img3">
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
        <p class="derechos">© 2021 JosB3t Corp. Todos los derechos reservados</p>
    </footer>

    <script src="https://kit.fontawesome.com/58c819eb23.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>